<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsUuyTI8u5_IC4PUT3FugMP8aF0yXzKb0</string>
	<key>GCM_SENDER_ID</key>
	<string>189614942506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeBot</string>
	<key>PROJECT_ID</key>
	<string>homebot-home-automation</string>
	<key>STORAGE_BUCKET</key>
	<string>homebot-home-automation.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189614942506:ios:adc49651c2cffba6fad653</string>
</dict>
</plist>